
<!--
A single blog post
/blogs/:id
GET
.findById()
-->

<head>
  <link rel="stylesheet" href="/pastie.css">
  <link rel="stylesheet" href="/post-styles.css">

  <script src="/marked.js"></script>
</head>

<body>
  <div class="container">
    <span><%= blog.created.toDateString() %></span>
    <div class="postTitle">
      <h1><%= blog.title %></h1>
    </div>
    <div class="modify">
      <form class='edit' style="display: inline;" action="/blogs/<%= blog.id %>/edit" method="GET">
    <input type="submit" value="Edit">
    </form>
      <form class='delete' style="display: inline;" action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
    </form>
    </div>



    <div class="postBody">
      <%- blog.body %>
    </div>

    <hr >
  </div>

</body>
