
<!--
A single blog post
/blogs/:id
GET
.findById()
-->

<head>
  <link rel="stylesheet" href="/pastie.css">
  <link rel="stylesheet" href="/post-styles.css">

  <script src="/marked.js"></script>
</head>

<body>
  <% blogs.forEach((x) => { %>
    <div class="container">
      <span><%= x.created.toDateString() %></span>
      <div class="postTitle">
        <h1><%= x.title %></h1>
      </div>
      <div class="modify">
        <form class='edit' style="display: inline;" action="/blogs/<%= x.id %>/edit" method="GET">
      <input type="submit" value="Edit">
      </form>
        <form class='delete' style="display: inline;" action="/blogs/<%= x.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete">
      </form>
      </div>



      <div class="postBody">
        <%- x.body %>
      </div>

      <hr >
    </div>
    <% }) %>
    <script src="script.js" type="text/javascript"></script>
  </body>
